.popup__input {
  width: 358px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0 36px 30px;
  padding: 0;
  padding-bottom: 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1279px) {
  .popup__input {
    width: 238px;
    margin: 0 22px 30px;
  }
}
