.profile__name {
  font-family: 'Inter';
  max-width: 400px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  max-height: 48px;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
