.profile__description {
  font-family: 'Inter';
  max-width: 400px;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
