/*Подключение стилей normalize.css*/
@import url(../vendor/normalize.css);
/* Подключение стилей .fonts */
@import url(../fonts/inter.css);
/* Подключение стилей .background */
@import url(../blocks/background/background.css);
/* Подключение стилей .page */
@import url(../blocks/page/page.css);
/* Подключение стилей .header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
/* Подключение стилей .profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__flex/profile__flex.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_end/profile__button_end.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button/_center/profile__button_center.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
/* Подключение стилей .elements */
@import url(../blocks/elements/elements.css);
/* Подключение стилей .element */
@import url(../blocks/element/element.css);
@import url(../blocks/element/__bottom/element__bottom.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__mask/element__mask.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like-button/element__like-button.css);
