.element__like-button {
  height: 19px;
  width: 22px;
}

.element__like-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.element__like-button:active {
  background-image: url(../../../images/like__button_active.svg);
}
