.popup__field-job {
  width: 358px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 1.21;
  margin: 0 36px 13px;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 1279px) {
  .popup__field-job {
    width: 238px;
    margin: 0 22px 13px;
    padding: 0;
    border: 0;
  }
}
